:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1f2227;
  background-color: #f7f7f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

.blue {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: 0.1s ease-in-out;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 10px 0;
}

h2 {
  margin: 5px 0;
}

.mb-20px {
  margin-bottom: 20px;
}

button,
.main-button {
  color: #1f2227;
  border-radius: 8px;
  border: 2px solid #1f2227;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
  box-sizing: border-box;
}
button:hover,
.main-button:hover {
  color: #646cff;
  border-color: #646cff;
  background-color: #1f2227;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 50%;
  background-color: #d2d2d2;
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ol {
  margin: 0;
  padding-left: 30px;
}

select {
  color: #1f2227;
  border-radius: 8px;
  border: 2px solid #1f2227;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
  margin: 0;
}
